.hero-section{
  width: 100%;
  height: 666.38px;
  padding: 80px 0;
  background: var(--gradient-hero);
  box-sizing: border-box;
}

.hero-container{
  padding: 0 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.hero-header,
.hero-content,
.hero-actions {
  margin: 0;
}

.hero-badge{
  width: max-content;
  display: flex;
  gap: 5px;
  background-color: var(--bg-surface-low);
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-soft);
}

.hero-badge-icon{
  display: flex;
  align-items: center;
  font-size: 10px;
  color: var(--accent);
}

.hero-badge-text{
  margin: 0;
}

.hero-title{
  margin: 0;
  font-size: 52px;
  font-weight: 100;
  color: var(--text-secondaryz);
}

.hero-title-accent{
  color: var(--accent);
}

.hero-description{
  margin: 20px 0 ;
}

.hero-content p{
  width: 650px;
  margin: 0;
}

.hero-actions{
  display: flex;
  gap: 32px;
  padding-top: 42px;
}